/*universal style*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;    
}
html{
  font-family: 'jost', sans-serif;
  font-weight: 300;
  color:#2C5D6D;
  
  
}
h1, h2{
  font-weight: 500;
  
}
h2{
  font-size:4rem;
}
h3{
  font-size:2rem;
}
h3, h4, h5, h6{
  font-weight: 300;
}
a:link{text-decoration: none;}
.sidebar{display: none;}
header{
  margin:0px 10px;

}
#cindy{
  display: grid;
  grid-template-columns:40px auto 40px;
  grid-template-rows:40px 200px 1fr;
  text-align: center;
  margin:0 auto;
  padding-bottom:25px;
}
#logo_a,#logo{
  margin:0 auto;
  grid-column: 2/3;
  grid-row: 2/3;
  width:200px;
  height:auto;
}
h1{
  grid-column: 2/3;
  grid-row: 3/4;
}
.menu{
  font-size: 1.1rem;
    grid-row:1/2;
    grid-column: 3/4;
    font-size: 1rem;
    z-index: 2000;
    cursor: pointer;
    border-radius: 0.3rem;
    font-family: 'Raleway', Arial, sans-serif;
    box-sizing: border-box;
} 
.menu:hover{
    transition:0.3s;
}
#hamburger{
    background-color: white;
    width: 100%;
    z-index: 2000;
    top:4rem;
    font-size:1.2rem;
    top: -70rem;
    overflow-x: hidden;
    position: fixed;
    transition: top 1s;
    list-style-type: none;
    border-radius: 0.6rem;
    clear: both;
    padding:1rem;
}
li a{
display: block;
border: none;
cursor: pointer;
margin:0 auto;
clear: both;
}
.ham li a span{
  margin:0 auto;
display: block;
clear: both;
}

.ham #hamburger a {
  float: none;
  padding-top: 1rem;
  display: block;
  height: auto;
  left: 0 !important;
  text-align: center;
  margin:0 auto;
  position: static;
  width: 45%;
}
#year2022, #year2022_large, #year2021, #year2021_large, #year2020, #year2020_large{
  font-size:1rem;
}
.closeBtn{
float:right;
padding:0.5rem;
margin-right:3rem;
display:block;
}
body {
  animation: fadein 1s; 
 }
 @keyframes fadein {
  0% {
  opacity:0;
  }
  50%{
  opacity:0.5;
  }
  100% {
  opacity:1;
  }
 }
main{
  margin-left:15px;
}
section{
  padding-top: 1.5rem;
}
/*hover*/
h1 { color: #2C5D6D;display:inline-block; margin:0;text-transform:uppercase; }
h1:after {
  display:block;
  content: '';
  border-bottom: solid 3px #2C5D6D;
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
h1:hover:after,h1:active:after,h1:focus:after { transform: scaleX(1); }
h1.fromRight:after{ transform-origin:100% 50%; }
h1.fromLeft:after{  transform-origin:  0% 50%; }

nav ul li a { color: #2C5D6D ;display:inline-block; margin:0;text-transform:uppercase; }
nav ul li a:after {
  display:block;
  content: '';
  border-bottom: solid 3px #2C5D6D;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
nav ul li a:after{ transform-origin: 100% 50%; }
nav ul li a:hover:after, nav ul li a:active:after,nav ul li a:focus:after{ transform: scaleX(1); transform-origin:   0% 50%; }
.thumbnails:hover,.thumbnails:active{
  border: 1px solid #2C5D6D;
  padding:10px;
  transition:0.5s;
  
}
*:focus {
  outline-color: #2C5D6D;
}


/*index content*/

.nationalpark{
  margin:0 auto;
  display: inline-block;
  width:300px;
  
}
h4{   display: block;}
.thumbnails{
margin:10px;
width:300px;
height: auto;

}
.works{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;

}
  @media screen and (min-width: 700px) {
  .works{
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
    }
  }
  @media screen and (min-width: 980px) {
    body{
      display:grid;
      grid-template-columns: 300px 1fr;
      font-size: 1.2rem;
    }
    header{
      grid-column: 1/2;
    }
    #cindy{
      display: block;
    }
    .sidebar{
      font-size: 1.2rem;
      text-decoration: none;
      list-style-type:none;
      display:block;}
    .menu, .closeBtn,#hamburger {
      display: none;
      }
    main {
      z-index: 5000;
      position:absolute;
      grid-column: 2/3;
      left: 300px;
      margin: 2rem 1rem 0rem 1rem;

    }  

  }
  p{
    max-width:40rem;
  }
  @media screen and (min-width: 1390px) {
    .works{
    grid-template-columns: 1fr 1fr 1fr;
    }
    body{
      display:grid;
      grid-template-columns: 400px 1fr;
    }
    main {
    left: 400px;
    }
    .sidebar{
    margin-left:50px;
    }
    p{
      max-width:50rem;
    }
  }
  @media screen and (min-width: 1700px) {
    .works{
      grid-template-columns: 1fr 1fr 1fr 1fr;
      }
  }